{
  "semi": false,
  "trailingComma": "none",
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": false,
  "importOrderCaseInsensitive": true,
  "importOrder": ["^(.*)/(?!generated)(.*)/(.*)$", "^(.*)/generated/(.*)$", "^[./]"]
}
